.app__menuItem {
    display: flex;
    flex-direction: column;
    width: 100%
}
.app__menuItem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__menuItem-sub {
    width: 100%;
    margin-top: 0.2rem;
}
.app__menuItem-name {
    flex: 1;
}
.app__menuItem-dash {
    width: 90px;
    height: 1px;
    background-color: var(--color-golden);
    margin: 0 1rem;
}
.app__menuItem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}