@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
	--font-base: "Cormorant Upright", serif;
	--font-alt: "Open Sans", sans-serif;

	--color-golden: #dcca87;
	--color-black: #0c0c0c;
	--color-gray: #545454;
	--color-crimson: #f5efdb;
	--color-grey: #aaaaaa;
	--color-white: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
body {
	scroll-behavior: smooth;
}
a {
	color: unset;
	text-decoration: none;
}

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(-25%);
		transform: translateY(-25%);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(-25%);
		transform: translateY(-25%);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.menu-wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.momo_categories_container {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.momo_categories_button {
	min-width: fit-content;
	border: 1px solid #dcca87;
	padding: 8px 24px;
	background-color: transparent;
	color: #ffffff;
	font-weight: 600;
	font-family: var(--font-base);
	font-size: 18px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 28px;
	padding: 0.5rem 1.5rem;
	border-radius: 1px;
	cursor: pointer;
}

.momo_categories_button:hover {
	background-color: var(--color-crimson);
	color: var(--color-black);
}

.mrp-message {
	text-align: center;
}
